{% if request.user.is_authenticated %}
    <p>{{request.user}}</p>
    <a href="{% url 'logout' %}">Logout</a>
{% else %}
    <a href="{% url 'login' %}">Login</a>
{% endif %}
<hr>

<h1>Pendings List</h1>
<a href="{% url 'create-task' %}">Create a new task</a>

<table>
    <tr>
        <th>Elements</th>
        <th></th>
        <th></th>
    </tr>

    {% for task in tasks%}
    <tr>
        <td>{{task.title}}</td>
        <td><a href="{% url 'task' task.id %}">Watch</a></td>
        <td><a href="{% url 'edit-task' task.id %}">Edit</a></td>
        <td><a href="{% url 'delete-task' task.id %}">Delete</a></td>
    </tr>

    {% empty %}
    <h3>List is empty.</h3>

    {% endfor %}
</table>